<h1>Listing all pledge classes</h1>

<%= link_to('Create new pledge class', new_pledge_class_path) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Term</th>
    </tr>
  </thead>
  <tbody>
    <% @pledge_classes.each do |pledge_class| %>
      <tr>
        <td>
          <%= pledge_class.name %>
        </td>
        <td>
          <%= pledge_class.term %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
